doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        title Testimonials
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
        //// Bootstrap
        //link(href='../bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
        //// HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //// WARNING: Respond.js doesn't work if you view the page via file://
        ////if lt IE 9
        //	script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
        //	script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", rel="stylesheet")

        link(href="css/main.css", rel='stylesheet')

    body
        .container-fluid
            .row
                .col-md-12.bg-blue.gutter-0
                    header
                        nav.navbar.navbar-default.navigation.testimonials-nav
                            .container
                                .row
                                    .col-md-12.gutter-0.box-nav

                                        .navbar-header
                                            a.navbar-brand.logo-brand(href="index.html")
                                                span.logo-text ConversionHammer
                                                img.pull-left.logo-hammer(src="images/hammer-logo.png")

                                            button.navbar-toggle.collapsed.pull-right.btn-toggle(type="button", data-toggle="collapse", data-target="#navbarCollapse")
                                                span.sr-only Toggle navigation
                                                span.menu MENU
                                                    i.fa.fa-bars.icon-bars

                                        .collapse.navbar-collapse.gutter-0(id="navbarCollapse")
                                            ul.nav.navbar-nav.main-navbar
                                                li
                                                    a(href="#") Pricing
                                                li
                                                    a(href="testimonials.html") Testimonials
                                                li
                                                    a(href="#") Support
                                                li
                                                    a(href="#") Contact

                                                li
                                                    a(href="#") Free Installation

            .row
                .col-md-12.main-content

                    section#testimonials
                        .container.bg-grey
                            .row

                                .col-md-8.col-md-offset-4.col-xs-8.col-xs-offset-4.testimonials-content

                                    h1 278 happy clients sharing their opinions

                                .col-md-8.col-md-offset-4.col-xs-8.col-xs-offset-4.testimonials-content

                                    p.lead-generation ConversionHammer is a contact form for lead
                                        br
                                        |generation businesses to instantly convert more
                                        |sales leads through your website.

                                .col-md-8.col-md-offset-4.col-xs-8.col-xs-offset-4.testimonials-content.description

                                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        |Phasellus tempus a massa ultricies accumsan.
                                        |Nullam pretium tortor sed egestas feugiat.
                                        | Vestibulum commodo velit elit, et ultrices nunc interdum non.
                                        |Vestibulum nisl tortor, tristique vitae massa ac, convallis malesuada quam.
                                        |Praesent congue nibh ultrices fringilla interdum.
                                        |Donec in metus bibendum, malesuada libero consequat, fringilla orci. Nunc facilisis consequat ante eget luctus.
                                        | Donec condimentum finibus est at lobortis. Vivamus nec justo eget mauris convallis sodales vitae tempor diam. Nam pulvinar euismod elementum.


                                    p Sed vitae mollis velit.
                                        |Suspendisse rutrum ex ut eros rutrum, vel varius erat condimentum.
                                        |Aenean in justo diam. Morbi eget nisl vel lacus interdum dictum fringilla vel nisi.
                                        |Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                        |Maecenas quis odio placerat, sagittis tortor ac, facilisis libero. Morbi ut accumsan augue.
                                        |Nulla dictum massa convallis ligula sagittis sollicitudin. Phasellus gravida aliquet nulla, et tempor massa aliquam sit amet.
                                        |Phasellus elementum ipsum urna, a elementum nisl dignissim ut. Nullam vel mattis lorem.
                                        |Mauris ornare, mauris at egestas malesuada, turpis nulla blandit quam, quis dapibus ante orci vitae lectus.
                                        |Aenean rutrum nisi at turpis posuere tincidunt.

                                    p Quisque et cursus diam, a aliquam dolor.
                                        |Nullam nec aliquam ex, consequat porttitor ex.
                                        |Phasellus rhoncus urna massa, a aliquet mauris tristique nec.
                                        |Sed sit amet laoreet magna. Morbi ut tellus nisl. Mauris eros quam, scelerisque ut mi vitae, finibus ultricies nibh.
                                        |Donec eu sapien eu est rhoncus gravida sit amet quis mi.
                                        |Nulla varius metus non facilisis auctor. Duis placerat augue ex.

                                    p Etiam neque dui, mollis porta congue vel, iaculis quis ligula.
                                        |Cras sit amet augue commodo, elementum sapien eu, fringilla tellus.
                                        |Morbi sollicitudin suscipit mi, eget consectetur dolor vulputate nec. Cras consequat convallis pretium.
                                        |Nulla et commodo eros, at semper lacus.
                                        |Aliquam ultrices sapien sit amet massa elementum fermentum.
                                        |Cras ut dapibus lectus, vitae congue nunc.
                                        |Quisque sed odio quis libero tempor faucibus.
                                        |Cras a elementum arcu. Donec in urna pharetra, euismod nunc a, hendrerit leo. Nulla non mauris tellus.
                                        |Sed posuere leo mauris, id lobortis velit hendrerit at. Duis a metus sit amet urna gravida scelerisque. Aenean ornare rutrum elementum.
                                        |Nam cursus ante at posuere iaculis.

                                    p Etiam neque dui, mollis porta congue vel, iaculis quis ligula.
                                        |Cras sit amet augue commodo, elementum sapien eu, fringilla tellus.
                                        |Morbi sollicitudin suscipit mi, eget consectetur dolor vulputate nec.
                                        |Cras consequat convallis pretium. Nulla et commodo eros, at semper lacus. Aliquam ultrices sapien sit amet massa elementum fermentum. Cras ut dapibus lectus, vitae congue nunc. Quisque sed odio quis libero tempor faucibus. Cras a elementum arcu. Donec in urna pharetra, euismod nunc a, hendrerit leo. Nulla non mauris tellus. Sed posuere leo mauris, id lobortis velit hendrerit at. Duis a metus sit amet urna gravida scelerisque.
                                        |Aenean ornare rutrum elementum. Nam cursus ante at posuere iaculis.

                                    p Praesent in maximus lectus. Nam varius lorem magna, nec efficitur sapien convallis vel.
                                        |Aliquam dapibus dui ut urna suscipit, sed bibendum magna imperdiet.
                                        |Pellentesque aliquet quam eget ultricies sodales.
                                        |Aenean orci diam, sollicitudin eu facilisis ut, semper non dolor.
                                        |Donec pretium in justo vel tristique. Vivamus viverra diam at nisi posuere, et semper neque convallis.
                                        |Praesent sed facilisis ipsum, id finibus quam.


            .row
                .col-md-12.bg-blue

                    footer
                        .container
                            .row
                                .col-md-10.col-md-offset-2
                                    ul.list-inline.list-unstyled.footer-nav
                                        li
                                            a(href="mailto:support@conversionhammer.com") support@conversionhammer.com
                                        li
                                            a(href="#") Created with
                                                span.glyphicon.glyphicon-heart.icon-heart
                                                | in Connecticut, USA
                                        li
                                            a(href="#") Privacy Policy
                                        li
                                            a(href="#") Disclaimer

        //script(src="../bower_components/jquery/dist/jquery.js")
        //script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="javascript/bg_handler.js")

